.map-container {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  .map {
    width: calc(50% - 10px);
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
}

.explain {
  height: 60px;
  line-height: 30px;
}
