.parallelogram {
  margin: 0 30px;
  display: inline-block;
  padding: 10px 30px;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
}

.parallelogram::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #58a;
  transform: skew(135deg);
}
