.loading67 {
  width: 30px;
  height: 30px;
  position: relative;
  transform: rotate(45deg);

  .shape {
    width: 10px;
    height: 10px;
    position: absolute;
  }

  .shape-1 {
    background-color: #1875e5;
    left: 0;
    animation: animationShape1-67 0.5s ease infinite alternate;
  }

  .shape-2 {
    background-color: #c5523f;
    right: 0;
    animation: animationShape2-67 0.5s ease infinite alternate;
  }

  .shape-3 {
    background-color: #499255;
    bottom: 0;
    animation: animationShape3-67 0.5s ease infinite alternate;
  }

  .shape-4 {
    background-color: #f2b736;
    right: 0;
    bottom: 0;
    animation: animationShape4-67 0.5s ease infinite alternate;
  }
}

@keyframes animationShape1-67 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(16px, 16px);
  }
}

@keyframes animationShape2-67 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-16px, 16px);
  }
}

@keyframes animationShape3-67 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(16px, -16px);
  }
}

@keyframes animationShape4-67 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-16px, -16px);
  }
}
