.loading44,
.loading44 > div {
  position: relative;
  box-sizing: border-box;
}

.loading44 {
  display: block;
  font-size: 0;
  color: #000;
  position: relative;
  width: 32px;
  height: 32px;

  > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 100%;
  }

  > div:first-child {
    animation: ball-zig-deflect-44 1.5s 0s infinite linear;
  }

  > div:last-child {
    animation: ball-zag-deflect-44 1.5s 0s infinite linear;
  }
}

@keyframes ball-zig-deflect-44 {
  17% {
    transform: translate(-80%, -160%);
  }
  34% {
    transform: translate(80%, -160%);
  }
  50% {
    transform: translate(0, 0);
  }
  67% {
    transform: translate(80%, -160%);
  }
  84% {
    transform: translate(-80%, -160%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes ball-zag-deflect-44 {
  17% {
    transform: translate(80%, 160%);
  }
  34% {
    transform: translate(-80%, 160%);
  }
  50% {
    transform: translate(0, 0);
  }
  67% {
    transform: translate(-80%, 160%);
  }
  84% {
    transform: translate(80%, 160%);
  }
  100% {
    transform: translate(0, 0);
  }
}
