.loading102 {
  width: 4.8px;
  height: 4.8px;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  color: #ddd;
  background: currentColor;
  animation: loading-animation-102 0.3s 0.3s linear infinite alternate;

  &::after,
  &::before {
    content: '';
    width: 4.8px;
    height: 4.8px;
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    left: 0;
    top: 15px;
    animation: loading-animation-102 0.3s 0.45s linear infinite alternate;
  }

  &::after {
    top: -15px;
    animation-delay: 0s;
  }
}

@keyframes loading-animation-102 {
  0% {
    width: 4.8px;
  }

  100% {
    width: 48px;
  }
}
