.loading39,
.loading39 > div {
  position: relative;
  box-sizing: border-box;
}

.loading39 {
  display: block;
  font-size: 0;
  color: #000;
  width: 32px;
  height: 32px;
  animation: ball-spin-rotate-39 2s infinite linear;

  > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    position: absolute;
    top: 0;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    animation: ball-spin-bounce-39 2s infinite ease-in-out;
  }

  > div:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
}

@keyframes ball-spin-rotate-39 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ball-spin-bounce-39 {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
