.loading11 {
  position: relative;
  width: 48px;
  height: 48px;
  animation: satellite-11 3s infinite linear;
  border: 1px solid #000;
  border-radius: 100%;

  &:before,
  &:after {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 12px;
    height: 12px;
    content: '';
    border-radius: 100%;
    background-color: #000;
    box-shadow: 0 0 10px #000;
  }

  &:after {
    right: 0;
    width: 20px;
    height: 20px;
    margin: 13px;
  }
}

@keyframes satellite-11 {
  from {
    transform: rotate(0) translateZ(0);
  }

  to {
    transform: rotate(360deg) translateZ(0);
  }
}
