.loading54,
.loading54 > div {
  position: relative;
  box-sizing: border-box;
}

.loading54 {
  display: block;
  font-size: 0;
  color: #000;
  width: 32px;
  height: 32px;

  > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
  }

  > div:nth-child(1),
  > div:nth-child(2) {
    position: absolute;
    left: 0;
    width: 100%;
  }

  > div:nth-child(1) {
    top: -25%;
    z-index: 1;
    height: 100%;
    border-radius: 10%;
    animation: square-jelly-box-animate-54 0.6s -0.1s linear infinite;
  }

  > div:nth-child(2) {
    bottom: -9%;
    height: 10%;
    background: #000;
    border-radius: 50%;
    opacity: 0.2;
    animation: square-jelly-box-shadow-54 0.6s -0.1s linear infinite;
  }
}

@keyframes square-jelly-box-animate-54 {
  17% {
    border-bottom-right-radius: 10%;
  }

  25% {
    transform: translateY(25%) rotate(22.5deg);
  }

  50% {
    border-bottom-right-radius: 100%;
    transform: translateY(50%) scale(1, 0.9) rotate(45deg);
  }

  75% {
    transform: translateY(25%) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes square-jelly-box-shadow-54 {
  50% {
    transform: scale(1.25, 1);
  }
}
