.loading40,
.loading40 > div {
  position: relative;
  box-sizing: border-box;
}

.loading40 {
  display: block;
  font-size: 0;
  color: #000;
  width: 26px;
  height: 26px;

  > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;
    border-radius: 100%;
    animation: ball-square-clockwise-spin-40 1s infinite ease-in-out;
  }

  > div:nth-child(1) {
    top: 0;
    left: 0;
    animation-delay: -0.875s;
  }

  > div:nth-child(2) {
    top: 0;
    left: 50%;
    animation-delay: -0.75s;
  }

  > div:nth-child(3) {
    top: 0;
    left: 100%;
    animation-delay: -0.625s;
  }

  > div:nth-child(4) {
    top: 50%;
    left: 100%;
    animation-delay: -0.5s;
  }

  > div:nth-child(5) {
    top: 100%;
    left: 100%;
    animation-delay: -0.375s;
  }

  > div:nth-child(6) {
    top: 100%;
    left: 50%;
    animation-delay: -0.25s;
  }

  > div:nth-child(7) {
    top: 100%;
    left: 0;
    animation-delay: -0.125s;
  }

  > div:nth-child(8) {
    top: 50%;
    left: 0;
    animation-delay: 0s;
  }
}
@keyframes ball-square-clockwise-spin-40 {
  0%,
  40%,
  100% {
    transform: scale(0.4);
  }

  70% {
    transform: scale(1);
  }
}
