.loading14,
.loading14 > div {
  position: relative;
  box-sizing: border-box;
}

.loading14 {
  display: block;
  font-size: 0;
  color: #000;
  width: 54px;
  height: 18px;

  > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 100%;
    animation: ball-beat-14 0.7s -0.15s infinite linear;
  }

  > div:nth-child(2n-1) {
    animation-delay: -0.5s;
  }
}
@keyframes ball-beat-14 {
  50% {
    opacity: 0.2;
    transform: scale(0.75);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
