.loading66 {
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  transform: rotate(20eg);
  animation: loading-animation-66 3s linear infinite;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: rgba(0, 0, 0, 0.4);
    transform: rotate(135deg);
  }
}

@keyframes loading-animation-66 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}
