.map-container {
  width: 1000px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  .map {
    width: 480px;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
}

.btn {
  margin-top: 20px;
}
