.loading23,
.loading23 > div {
  position: relative;
  box-sizing: border-box;
}

.loading23 {
  display: block;
  font-size: 0;
  color: #000;
  width: 36px;
  height: 36px;

  > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    width: 8px;
    height: 8px;
    margin: 2px;
    border-radius: 100%;
    animation-name: ball-grid-pulse-23;
    animation-iteration-count: infinite;
  }

  > div:nth-child(1) {
    animation-duration: 0.65s;
    animation-delay: 0.03s;
  }

  > div:nth-child(2) {
    animation-duration: 1.02s;
    animation-delay: 0.09s;
  }

  > div:nth-child(3) {
    animation-duration: 1.06s;
    animation-delay: -0.69s;
  }

  > div:nth-child(4) {
    animation-duration: 1.5s;
    animation-delay: -0.41s;
  }

  > div:nth-child(5) {
    animation-duration: 1.6s;
    animation-delay: 0.04s;
  }

  > div:nth-child(6) {
    animation-duration: 0.84s;
    animation-delay: 0.07s;
  }

  > div:nth-child(7) {
    animation-duration: 0.68s;
    animation-delay: -0.66s;
  }

  > div:nth-child(8) {
    animation-duration: 0.93s;
    animation-delay: -0.76s;
  }

  > div:nth-child(9) {
    animation-duration: 1.24s;
    animation-delay: -0.76s;
  }
}

@keyframes ball-grid-pulse-23 {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.35;
    transform: scale(0.45);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
