.loading3 {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 100%;

  animation: arrow-circle-3 infinite 0.75s linear;

  &:before,
  &:after {
    position: absolute;
    top: 24px;
    left: -2px;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: '';
    transform: rotate(-30deg);
  }
  &:after {
    top: 0;
    left: 21px;

    transform: rotate(150deg);
  }
}

@keyframes arrow-circle-3 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
