.loading89 {
  width: 48px;
  height: 48px;
  border: 3px solid #ddd;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: rotation-89 1s linear infinite;
  &:after {
    content: '';
    position: absolute;
    left: 20px;
    top: 32px;
    border: 10px solid transparent;
    border-right-color: #ddd;
    transform: rotate(-40deg);
  }
}
@keyframes rotation-89 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
